.outer-container{
    width: 100vw;
    margin-left: -300px;
}
.container {
    margin: 0 auto;
    padding: 20px;
    
  }
  
  .heading {
    color: #0A2463;
    font-size: 44px;
    margin-bottom: 20px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
  }
  
  .blogs-container {
    flex: 1;
  }
  .bookmark-icon{
    max-width: 50px;
  }
  
  .blog-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    width: 50vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .blog-card h2 {
    font-size: 26px;
    margin-bottom: 10px;
    color: 3E92CC;
  }
  
  .blog-card p {
    color: #555;
  }
  
  .read-more {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .sidebar {
    margin-left: 20px;
    margin-right: 20px;
    flex-shrink: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: max-content;
    padding: 40px;
    border-radius: 20px;
  }
  
  .sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 8px;
    color: #007bff;
  }
  
  /* Responsive layout adjustments */
  @media (max-width: 768px) {
    .content {
      flex-direction: column;
    }
  }
  